<nav class="sidebar">
    <ul class="nav flex-column gap-1 p-2">
        <li class="nav-item"><NavLink class="nav-link" href="pacientes" Match="NavLinkMatch.All">HIS – Pacientes</NavLink></li>
        <li class="nav-item"><NavLink class="nav-link" href="laboratorio">Laboratorio</NavLink></li>
        <li class="nav-item"><NavLink class="nav-link" href="farmacia">Farmacia</NavLink></li>
        <li class="nav-item"><NavLink class="nav-link" href="facturacion">Facturación</NavLink></li>
        <li class="nav-item"><NavLink class="nav-link" href="historia">Historia clínica</NavLink></li>
    </ul>
</nav>
